<h1>Clean Email</h1>

<div class="doc">
  <p>Welcome to Clean Email.</p>

  <p>To use it, copy your content for your newsletter into the form below and click Clean. Your content will be automatically added to the template and displayed on the next page.</p>

  <p><em>Your content is <strong>not</strong> stored on any servers, other than to generate a template for you.</em></p>
</div>

<%= form_for :cleaner, url: cleaner_create_path do |form| %>
  <label for="cleaner_content">Your email content</label>
  <%= form.text_area :content, cols: 80, rows: 20 %>

  <label for="cleaner_markdown">Markdown content?</label>
  <%= form.check_box :markdown %>
  <%= form.submit "Clean" %>
<% end %>

<% if @cleaner.content.present? %>
<div id="html-text">
  <h2>HTML text</h2>

  <pre><%= @cleaner.html_text %></pre>

  <iframe id="html-preview" src="about:blank" width="100%" height="100%"></iframe>

  <script type="text/template" id="html-content">
    <%= @cleaner.html_text %>
  </script>

  <script type="text/javascript">
    doc = document.getElementById('html-preview').contentWindow.document;
    doc.write($('#html-content').html());
  </script>

</div>

<div id="plain-text">
  <h2>Plain text</h2>
  <pre><%= @cleaner.plain_text %></pre>
</div>

<% end %>
